.body{
    background-image: url("./container.jpg");
    background-repeat: no-repeat;
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    padding-top: 2px;
}
header{
    background-color: #584141;
}
#logo{
float: left;
padding-top: 2px;
height: 20px;
}
.navh{
 background-color: rgb(87, 52, 26);
 height: 70px;
 width: 100% ;
 margin-top: auto;
 margin-bottom: 5px;
 padding-left: 50px;

}
a{
    color: white;
    text-decoration: none;
    padding: 5px;

}
nav{
    display: flex;
    float: right;
    flex-direction: row;
    margin: 20px;  
    margin-right: 300px;
}
.nomads{
    flex-direction: right;
}
.navbars{
    display: flex;
    flex-direction: right;
    float: right;
    height: 20px;

} 
.overlay{
    position: relative;
    top: 0;
    bottom: 0;
    width: 80%;
    height: 800px;
    margin: 0 auto;
    background-color: rgba(194, 189, 189, 0.5);
    flex: 1;
    text-align: center;
    font-weight: 700;
}
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color:#584141;
    color: white;
    text-align: center;
    
}
h1{
    color: black;
    padding: 40px;
}
*{
  box-sizing: border-box;  
}
body{
    margin: 0;
    background: #C6A1A1;
}
nav{
  background-color: #594848;  
  width: 100%;
  overflow: auto;

}

ul{
    margin: 0;
    padding: 0;
    list-style: none;


}
li{
float: right;
font-style: italic;

}
nav a{
    width: 120px;
    display: block;
    text-decoration: none;
    text-align: center;
    background: #594848;
    font-size: 17px;
    color: white;
    font-family: Arial;
    margin-top: 0px;

}
nav a:hover{
    background: white;
    color: black;
}
.container{
    max-width: 1200px;
    margin: auto;
    overflow: auto;
    background: #f2f2f2;
}
.gallery{
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 390px;
}
.gallery img{
    width: 100%;
    height: auto;
}
.description{
   padding: 15 px; 
   text-align: center;
}
h1{
    color: white;
    text-align: center;
    
    
    
    
}

footer{
    background: #584141;
    padding: 20px;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    color: white;
    font-family: Arial;
}
.gallery:hover{
    opacity: 0.5;
}
h2{
    text-align: center;
    color: white;
    
}
